

  p{
    text-align: center;
  }
  .New{
    font-family: Arial;
    color: rgb(236, 91, 91);
    margin-bottom: 10px;
  }

  .mac{
       font-family: arial;
       font-size: 30px;
       font-weight: bold;
       color: grey;
       margin-top: 0px;
       margin-bottom: 10px;
  }
  .Super{
    font-family: arial;
    font-size: 55px;
    margin-top: 0px;
    font-weight: bold;
    color: grey;
    margin-bottom: 10px;
    }
  .dollar{
        font-family: arial;
        font-size: 20px;
        margin-top: 0px;
        color: grey;
  }
  .Buy{
    background-color: rgb(106, 106, 204);
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 30px;
    font-weight: bold;

  }
